# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/images/products/colombia_coffee.png
public/images/products/ethiopia_coffee.png
public/images/products/guatemala_coffee.png
public/images/products/mount_kenya.png
public/images/products/nevado_del_huila.png
public/images/products/pacaya_volcano.png
public/images/vectors/arrow-swirl.png
public/images/vectors/line-scratch.png
