@import '../main/variables';

.about_header {
    padding: 1.5rem 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        position: relative;
        color: $green;
        text-align: center;
        margin: 6rem 0rem !important;
    }

    img {
        border-radius: 2.5rem;
    }

    .vector--star {
        position: absolute;
        transform: translateX(-65%) translateY(-57%);
    }

    .vector--line {
        position: absolute;
        transform: translateX(-210%) translateY(340%) !important;

    }

}

.about_header > div{
    max-width: 1400px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7.5rem;

    > img {
        max-height: 550px !important;
    }

    > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 1rem;
    }

    p {
        color: $green;
    }

    button {
        color: $white;
        background-color: $orange;
    }
}

@media (max-width: 1100px) {
    .about_header > div {
        grid-template-columns: repeat(2, 1fr);

        > div {
            grid-column-start: 1 ;
            grid-column-end: 3 ;
        }
    }
}

@media (max-width: 768px) {
    .about_header {
        padding: 0rem;
    }

    .about_header > div {
        padding: 0rem 2rem;
        gap: 2rem;

        button {
            align-self: center;
        }
    }
}
