@import '../main/variables';

.about_info {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .about_info--one,
    .about_info--two,
    .about_info--three,
    .about_info--four{
        padding: 5rem;
        min-height: 700px;
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    .mySwiper {
        min-height: 500px;
    }

    .about_info--two {
        justify-content: space-between;
    }

    .about_info--two,
    .about_info--three {
        color: $green;
    }

    .about_info--one, 
    .about_info--four {
        background-color: $green;
        color: $white;
    }

    .mySwiper {
        width: 100% !important;
        color: $green ;
        .swiper-slide {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;   
            padding: 5rem; 
        }

        p {
            margin: 4rem 0rem !important;
        }

        .swiper--right {
            align-self: flex-start;
            font-size: 50px !important;
        }

        .swiper--left {
            align-self: flex-end;
            -webkit-transform: scaleX(-1) !important;
            transform: scaleX(-1) !important;
            font-size: 50px !important;
        }
    }

}

@media (max-width: 1000px) {
    .about_info {
        grid-template-columns: 1fr;
    }
    .about_info--one,
    .about_info--two,
    .about_info--three,
    .about_info--four {
        padding: 5rem !important;
        min-height: 500px !important;
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    .mySwiper {
        order: 3;
    }
}


@media (max-width: 768px) {
    .about_info--two {
            min-height: 700px !important;
        }

    .about_info--one,
    .about_info--two,
    .about_info--three,
    .about_info--four {
        padding: 2rem !important;
    }
}

.swiper-pagination-bullet {
    margin: 2rem 0.5rem !important;
    width: 60px !important;
    height: 20px;
    border-radius: 0 !important;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: $orange !important;
}

