@import '../main/variables';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    max-width: 1440px;
    margin: auto;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    li > a {
        margin-right: 2rem !important;
    }

    a{
        color: $green;
    }

    li > a:hover {
        border-bottom: solid 2px $orange;
    }

    .icon {
        display: none;
    }

    i {
        font-size: 2rem;
    }

    button {
        background-color: transparent;
        color: $green;
        border-color: $green;
    }
}

@media (max-width: 768px) {
    .navbar {

        *{
            // outline: solid red;
        }

        ul{
            position: absolute;
            left: -100%;
            top: 2.5rem;
            flex-direction: column;
            justify-content: start;
            width: 100%;
            transition: 0.3s;
            background-color: $green;
            padding: 0rem !important;
            height: calc(100vh - 1.5em);
        }

        ul.active {
            left: 0;
        }

        li {
            margin: 2.5rem 0;
            display: flex;
            justify-content: center;
            align-items: center !important;

        }

        li > a{
            color: $cream;
        }


        .icon {
            display: block;
        }

        button {
            display: none;
        }
    }

}
