@import '../main/variables';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1.5rem;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    li {
        margin-right: 5rem;
    }

    a{
        color: $green;
    }

    .icon {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar {

        ul{
            position: fixed;
            left: -110%;
            top: 2.5rem;
            flex-direction: column;
            width: 100%;
            transition: 0.3s;
            background-color: $green;
            padding: 25vh 0rem
        }

        ul.active {
            left: 0;
        }

        li {
            margin: 2.5rem 0;

        }

        li > a{
            color: $cream;
        }

        .icon {
            display: block;
        }
    }

}

@media (max-width: 600px) {

}