@import '../main/variables';

img.vector {
    max-width: 50% !important;
    object-fit: none;
}

img.vector--arrow {
    max-width: 12%;
    object-fit: none;
}

img.vector--microphone {
    position: absolute;
    max-width: 5.5% !important;
    transform: translateX(-630%) translateY(-12.5%) !important;
}

// @media (max-width: 1380px) {
//     img.vector--microphone {
//         transform: translateX(-75%) translateY(-20%) !important;
//     }
// }

// @media (max-width: 1240px) {
//     img.vector--microphone {
//         transform: translateX(-75%) translateY(2.5%) !important;
//     }
// }