@import '../main/variables';

.products_header {
        padding: 1.5rem 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    h1 {
        position: relative !important;
        color: $green;
        text-align: center;
        margin: 6rem 0rem !important;
    }

        .vector--okay {
            max-width: 7.5% !important;
            position: absolute !important;
            transform: translateX(-170%) translateY(-140%);
        }
    
        .vector--line {
            position: absolute !important;
            transform: translateX(-210%) translateY(340%) !important;
        }
}